:root {
    --image-size: clamp(300px, 20vw, 600px);
}

body {
    background-color: transparent;
}

.history {
    position: relative;
    z-index: 1;
}

.plotpoint {
    position: relative;
    width: fit-content;
    min-height: calc(var(--image-size) + 20px);
}

.plotpoint > p {
    z-index: 1;
    font-size: 1.2em;

    width: max(min(calc(100vw - 10vmax), 500px), 20vw);
    padding: 1.5vw;
    background-color: white;
    border-radius: 4px;
    margin: 1vw 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.plotpoint__image {
    z-index: -1;
    top: 20px;
    position: absolute;
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 4px;
    object-fit: cover;
}

@media screen and (max-width: calc(850px)) {
    .plotpoint__image {
        display: none;
    }

    .plotpoint {
        min-height: unset;
        margin-bottom: 5vmax;
    }

    .plotpoint--important .plotpoint__image {
        display: block;
    }
}

.plotpoint:not(.plotpoint--important):nth-child(2n + 1) .plotpoint__image {
    right: calc(-0.85 * var(--image-size));
}

.plotpoint:nth-child(2n) {
    margin-left: auto;
}

.plotpoint:not(.plotpoint--important):nth-child(2n) .plotpoint__image {
    left: calc(-0.9 * var(--image-size));
}

.plotpoint--important .plotpoint__picture {
    margin: 0;
}

.plotpoint--important .plotpoint__image {
    position: relative;
    margin-top: calc(-2vw - 20px);
    width: calc(min(1000px, calc(100vw - 10vmax)) - 4vw);
    height: clamp(300px, 25vw, 700px);
    margin-left: 2vw;
}

.plotpoint--important > p {
    box-sizing: border-box;
    width: min(1000px, calc(100vw - 10vmax));
}

.plotpoint--important > .plotpoint__picture + p {
    margin-top: -1vw;
}

.plotpoint--no-picture {
    min-height: unset;
}

.plotpoint__link {
    font-weight: bold;
    color: rgb(29, 29, 156);
    text-decoration: none;
}
