/* All pages */

/* Custom variables */
:root {
    /* Theme coloring */
    --clr-background: #ffffff;
    --clr-background-menu: #1a1a1a;
    --clr-nav: #1a1a1a;
    --clr-on-nav: #ffffff;

    /* Custom heights */
    --nav-height: 75px;
}

body,
html {
    box-sizing: border-box;
    font-family: "proxima-nova", "Roboto", sans-serif, serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-background);
}

/*  Make sure everything is box-sized at border-box, 
    as this is the box model that is logical */
*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
    position: relative;
    overflow: hidden;
}

/* Add margin for main content except on landingPage */
nav + main:not(.landingPage) {
    margin-top: var(--nav-height);
}

/* Navigation bar */
.primaryNavigation {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;

    background-color: var(--clr-nav);
    color: var(--clr-on-nav);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(1vw, 3vw, 40px);
}

/*  We use flex-order to order the logoname to be in the middle
    Screenreaders will not read this property, 
    so they will read out the logoname first and then the navigation links */
.primaryNavigation :nth-child(2) {
    order: 1;
}

.primaryNavigation :nth-child(3) {
    order: 2;
}

.primaryNavigation :first-child {
    order: 3;
}

.primaryNavigation :nth-child(4) {
    order: 4;
}

.primaryNavigation :nth-child(5) {
    order: 5;
}

.primaryNavigation__item {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.primaryNavigation__item h1 {
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 630px) {
    .primaryNavigation__item h1 {
        width: 160px;
        line-height: 23px;
    }
}

.primaryNavigation__link {
    text-decoration: none;
    color: var(--clr-on-nav);
}

.primaryNavigation__link::after {
    content: ""; /* hack - otherwise it will not show */

    display: block;
    width: calc(100% + 10px);
    height: 1px;
    margin-left: -5px;
    border-radius: 10px;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.2s;

    background-color: var(--clr-on-nav);
}

.primaryNavigation__link--active::after {
    height: 2px;
}

.primaryNavigation__link:hover::after,
.primaryNavigation__link:focus-visible::after,
.primaryNavigation__link--active::after {
    transform: scale(1, 1);
}

/* Navigation bar -- subnav */
.primaryNavigation__subList {
    --text-padding: 1rem;

    display: none;
    position: absolute;
    padding: 0;
    top: 100%;
    margin-left: calc(-1 * var(--text-padding));
    background-color: var(--clr-nav);
    box-shadow: 0 2.1px 3px rgba(0, 0, 0, 0.12), 0 2.1px 2px rgba(0, 0, 0, 0.24);
    z-index: 1;
}

.primaryNavigation__link--subLink {
    padding: var(--text-padding);
}

.primaryNavigation__link--subLink:hover {
    opacity: 0.8;
}

.primaryNavigation__link--subLink:focus {
    border: 2px solid var(--clr-on-nav);
    outline: none;
}

.primaryNavigation__item--dropdown:hover .primaryNavigation__subList,
.primaryNavigation__item--dropdown:focus-within .primaryNavigation__subList {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    --footer-height: 34px;
    min-height: var(--footer-height);
    background-color: #1a1a1a;
}

.footer p {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 0.75rem;
}
