.contactLocation__location {
    display: inline-block;
}

.contactLocation__location__title {
    margin: 0 0 0.2em 0;
}

.contactLocation__location__text {
    margin: 0;
}

.contactLocation__picture__image {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-left: max(17px, 5%);
}

.contactOpeningHours__title {
    margin: 5vh 0 0.2em 0;
}

.contactOpeningHours {
    position: relative;
    border-collapse: collapse;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.contactOpeningHours__caption {
    text-align: left;
    font-weight: bold;
    font-size: 0.8;
    color: white;
}

.contactOpeningHours__day,
.contactOpeningHours__time {
    border: 1px solid var(--clr-background-menu);
    padding: 7px;
}

.contactOpeningHours__day {
    width: max(140px, 10vw);
}

.contactPage__article {
    color: white;
}
