.contactPage {
    width: min(1000px, 100vw);
    margin: 0 auto;
}

.introduction {
    margin: 5vh 0;
}

.introduction > .introduction__title {
    margin: 0 0 0.2em 0;
}

.introduction > .introduction__text {
    margin: 0;
}

.contactLocation > .contactLocation__location {
    display: inline-block;
}

.contactLocation > .contactLocation__location > .contactLocation__location__title {
    margin: 0 0 0.2em 0;
}

.contactLocation > .contactLocation__location > .contactLocation__location__text {
    margin: 0;
}

.contactLocation > .contactLocation__picture > .contactLocation__picture__image {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-left: max(17px, 5%);
}

.contactPage > .contactOpeningHours__title {
    margin: 5vh 0 0.2em 0;
}

.contactOpeningHours {
    position: relative;
    border-collapse: collapse;
}

.contactOpeningHours > .contactOpeningHours__caption {
    text-align: left;
    font-weight: bold;
}

.contactOpeningHours .contactOpeningHours__day, .contactOpeningHours .contactOpeningHours__time {
    border: 1px solid var(--clr-background-menu);
    padding: 7px;
}

.contactOpeningHours .contactOpeningHours__day {
    width: max(140px, 10vw);
}

@media screen and (max-width: 1234px) {
    .contactPage {
        width: min(700px, 50vw);
    }
}

@media screen and (max-width: 630px) {
    .contactPage {
        width: 50vw;
        text-align: center;
    }

    .contactOpeningHours {
        text-align: left;
        margin: 0 auto 5vh auto;
    }

    .contactOpeningHours > .contactOpeningHours__caption {
        text-align: center;
    }

    .contactPage__contactLocation > .contactLocation__picture > .contactLocation__picture__image {
        display: block;
        margin: 30px auto;
    }
}