body,
html {
    box-sizing: border-box;
    font-family: "proxima-nova", serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p + p {
    margin-top: 2rem;
}

video#backgroundVideo {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(5px) sepia(70%);

    /* Hides the white border from blur */
    transform: scale(1.1);
    overflow: hidden;
}

/* Don't show the video to people who prefer reduced-motion */
@media (prefers-reduced-motion) {
    video#backgroundVideo {
        display: none;
    }
}

body > main {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body > main > div.landingPage__clipBackground {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 2vmax;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

body > main header {
    max-width: 36vw; /* 40vw - 2 * 2vw (padding) */
    text-align: left;
    margin-right: 5vmax;
}

body > main header h1 {
    font-weight: 900;
    font-size: 5rem;
    margin: 0;
    line-height: 1;
}

body > main header h2 {
    margin-bottom: 0.5rem;
}

div.landingPage__WelcomeMessageContainer {
    z-index: 1;
    position: relative;
    --margin: 4vmax;
    --padding: 3vmax;
    margin-top: calc(-1 * var(--margin));
    padding: calc(var(--margin) + var(--padding)) 0 var(--padding);
    width: 100vw;
    clip-path: polygon(
        0 0,
        50% calc(var(--margin) - 1vmax),
        100% 0,
        100% 100%,
        0 100%
    );
    overflow: visible;
    background-color: white;
}

div.landingPage__WelcomeMessageContainer > p {
    /* center the paragraph */
    margin-left: auto;
    margin-right: auto;
    width: min(700px, 80vw);
}

div.landingPage__clipBackground > span.material-icons {
    z-index: 1;
    position: absolute;
    left: calc(50% - 16px);
    bottom: 5%;
    font-size: 2em;
    color: white;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    from {
        padding-bottom: 0;
        padding-top: 0;
    }

    50% {
        padding-bottom: 10px;
        padding-top: 0;
    }

    to {
        padding-bottom: 0;
        padding-top: 0;
    }
}
