main {
    max-width: unset;
    padding: 0;
}

.introduction {
    margin: 0 auto;
    max-width: 1000px;
    color: white;
}

.menuPage {
    background-color: var(--clr-background-menu);
}

.menuTable {
    position: relative;
    width: 60%;
    margin-left: 20%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
}

.menuTable__caption {
    color: var(--clr-on-nav);
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.menuTable__price {
    width: clamp(90px, 7vw, 150px);
    text-align: center;
}

.menuTable__dish,
.menuTable__price {
    border: 1px solid var(--clr-background-menu);
    padding: 7px;
}

.menuTable__dish__title {
    margin: 0;
}

.food_picture {
    clip-path: polygon(100% 0, 100% 80%, 0% 100%, 0 20%);
    height: 60vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
