body > main {
    background-color: var(--clr-background-menu);
}

.menuTable {
    position: relative;
    width: 60%;
    margin-left: 20%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
}

.menuTable > .menuTable__caption {
    color: var(--clr-on-nav);
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.menuTable .menuTable__price {
    width: clamp(90px, 7vw, 150px);
    text-align: center;
}

.menuTable .menuTable__dish, .menuTable .menuTable__price {
    border: 1px solid var(--clr-background-menu);
    padding: 7px;
}

.menuTable .menuTable__dish__title {
    margin: 0;
}
