body > main {
    position: relative;
    padding-top: 1px;
    background-color: var(--clr-background-menu);
}

body > main > h2 {
    color: var(--clr-on-nav);
    margin-left: 20%;
    margin-bottom: 2px;
}

table.menuTable {
    position: relative;
    width: 60%;
    margin-left: 20%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
}

table.menuTable tr > td:nth-child(2) {
    width: clamp(90px, 7vw, 150px);
    text-align: center;
}

table.menuTable tr > td {
    border: 1px solid var(--clr-background-menu);
    padding: 7px;
}

table.menuTable td > h3 {
    margin: 0;
}
